* {
    margin: 0 auto;
    width: 1170px;
}

header {}

.nav-bar {
    width: 1160px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 49px;
}

.icon-img {
    width: 58px;
    height: 56.008px;
    position: relative;
}

.first-half {
    width: 50%;
    display: flex;
}

.super {
    padding-left: 13px;
    color: #131318;
    font-family: Mulish;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.second-half {
    width: 50%;
    display: flex;
    justify-content: end;
    padding-top: 15px;
}

a {
    color: var(--Dark-02, #424247);
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    text-align: center;
}

#hit {
    color: #FF5400;
    font-weight: 700;

}

.banner-img {}

.banner-all {
    position: relative;
}

.banner-head {
    position: absolute;
    text-align: center;
    bottom: 374px;
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner-para {
    position: absolute;
    bottom: 320px;
    left: 240px;
    width: 676px;
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.common-btn,
input,
select {

    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
}

.common-btn {
    width: 840px;
    height: 74px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    background-color: ;
    bottom: 150px;
    padding-top: 27px;
    position: relative;
    display: flex;
    gap: 15px;
}

#intput-1 {
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}

#select-1 {
    padding-left: 23px;
    color: rgba(19, 19, 24, 0.50);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#input-btn {
    height: 48px;
    color: white;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    background: #FF5400;
    border: none;
}

.banner-down {
    display: flex;
    /* border: 2px solid brown; */
    width: 1170px;
    height: 540px;
}

.first-di {

    /* border: 1px solid black; */
    width: 540px;
    height: 94%;
    margin: auto;

}

.second-di {
    /* border: 1px solid black; */
    width: 48%;
    height: 94%;
    margin: auto;
    display: flex;

}

.describing {
    width: 577px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.ul-class {
    width: 525px;
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.main-ul {
    width: 525px;
}

.rec-img {
    width: 500px;
    height: 520px;
    margin-left: 80px;
}

.popular-plan {
    color: #131318;

    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.destination {
    width: 478px;
    height: 50px;
    margin-top: 100px;
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.more-describe {
    width: 643px;
    height: 52px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.img-container {
    width: 1170px;
}

.img-container img {
    width: 100%;
}

.first-division {
    display: flex;
    gap: 10px;
    margin: 10px;
}

.img-items-1 {
    position: relative;
    display: flex;
    width: 573px;
    height: 300px;
}

.img-items-2 {
    position: relative;
    display: flex;
    width: 573px;
    height: 300px;

}

.second-division {
    display: flex;
    gap: 10px;
    margin: 10px;
}

.img-items-3 {
    position: relative;
    display: flex;
    width: 374px;
    height: 286px;

}

.img-items-4 {
    position: relative;
    display: flex;
    width: 474px;
    height: 286px;

}

.img-items-5 {
    position: relative;
    display: flex;
    width: 274px;
    height: 286px;

}

.third-division {
    display: flex;
    gap: 10px;
    margin: 10px;
}

.img-items-6 {
    position: relative;
    display: flex;
    width: 473px;
    height: 300px;
}

.img-items-7 {
    position: relative;
    display: flex;
    width: 673px;
    height: 300px;
}

.maldives {
    position: absolute;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    left: 230px;
    top: 140px;
}

.indonesia {
    position: absolute;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    left: 230px;
    top: 140px;
}

.srilanka {
    position: absolute;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    top: 130px;
    left: 130px;
}

.north-america {
    position: absolute;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    top: 130px;
    left: 130px;
}

.kashmir {
    position: absolute;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    top: 130px;
    left: 100px;
}

.bangladesh {
    position: absolute;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    top: 130px;
    left: 150px;
}

.bandarban {
    position: absolute;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    top: 130px;
    left: 250px;
}

.mid-head {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 100px;
}

.mid-para {
    width: 643px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.mid-section {
    margin-top: 50px;
    width: 1170px;
    display: flex;
    gap: 4px;

}

.mid-div{
width: 48%;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}
.hotel-img {
    width: 64px;
    height: 64px;
    padding-left: 35px;
}
.handpicked{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 35px;
}
.hotel-para{
    width: 486px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.last-div{
width: 48%;
height: 284px;
border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}

.google-map{
    width: 64px;
    height: 64px;
    padding-left: 35px;
}
.world-class{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding-left: 35px;
}
.map-para{
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
width: 486px;

}